<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pide tu Canción | DJ JALIX</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
  <style>

  </style>
</head>
<body>
  <div class="contenido">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="DJ JALIX Logo" class="logo">

    <h1>Pide tu Canción</h1>
  
    <p style="font-size: 0.8rem;">Debes seguirme en Instagram y darle al botón de abajo para desbloquear el formulario de peticiones.</p>

    <a href="https://www.instagram.com/jalix_dj/" target="_blank" class="btn-instagram" onclick="desbloquearFormulario()">Sígueme en Instagram</a>

    <!-- Formulario inicialmente bloqueado -->
    <form action="/enviar" method="POST" class="formulario bloqueado" id="formulario">
      <input type="text" name="nombre" placeholder="Tu nombre" required>
      <input type="text" name="cancion" placeholder="Nombre de la canción" required>
      <input type="text" name="dedicatoria" placeholder="¿A quién se la dedicas?">
      <textarea name="mensaje" rows="3" placeholder="Un mensaje opcional..."></textarea>
      <button type="submit">Enviar petición</button>
    </form>
    <div class="aviso">SINO ME SIGUES TE LA VA A PONER QUIEN YO ME SE</div>

    

    
  
  </div>

  <script>
    // Deshabilita campos al cargar
    window.onload = function () {
      bloquearFormulario();
    };

    function bloquearFormulario() {
      const campos = document.querySelectorAll('form input, form textarea, form button');
      campos.forEach(campo => {
        campo.disabled = true;
      });
    }

    function desbloquearFormulario() {
      const form = document.getElementById("formulario");
      form.classList.remove("bloqueado");

      const campos = form.querySelectorAll('input, textarea, button');
      campos.forEach(campo => {
        campo.disabled = false;
      });

      alert("¡Gracias por seguirme! Ya puedes enviar tu petición 🎶");
    }
    function copiarBizum() {
      navigator.clipboard.writeText("617651107").then(function () {
        alert("Número de Bizum copiado 📲");
      });
    }
  </script>
</body>
</html>
